/out/production/GenericTypesLearning/ru/synergy/customgenerictypes/Account.class
/out/production/GenericTypesLearning/ru/synergy/customgenerictypes/Main.class
/out/production/GenericTypesLearning/ru/synergy/customgenerictypes/Accountable.class
/src/ru/synergy/customgenerictypes/Accountable.java
/out/production/GenericTypesLearning/ru/synergy/customgenerictypes/Accountble.class
